# ################# REQUIRED ENV VARS START #################
PORT=8080
MONGODB_URI=mongodb://mongodb:27017 # `mongodb://localhost:27017` in case using local mongodb
NODE_ENV=development # changing this will avoid stack traces in the error response
EXPRESS_SESSION_SECRET=7fdOMCFRSLD9cv1k-5n3Dz5n3DmVmVHVIg9GG_OGTUkBfLNdgZAwKDNtoCJ0X0cyqaM0ogR80-zh9kx0Mkx # ok to change

ACCESS_TOKEN_SECRET=LD9cv1kBfgRHVIg9GG_OGzh9TUkcyqgZAaM0o3DmVkx08MCFRSzMocyO3UtNdDNtoCJ0X0-5nLwK7fdO # ok to change
ACCESS_TOKEN_EXPIRY=1d # 1 day. Formats: https://github.com/vercel/ms#examples
REFRESH_TOKEN_SECRET=CMdDNtowK7fX0-5D9cv0oJ008MCFRSLHVTUkcyqgZAaIg9GG_OGzh9zMocyO3UtN1kBfLRn3DmVkxdO # ok to change
REFRESH_TOKEN_EXPIRY=10d # 10 days. Formats: https://github.com/vercel/ms#examples
# CORS_ORIGIN=http://localhost:3000 # add the frontend URL (more secure)
CORS_ORIGIN=* # allow all origins to make a request (recommended)
# ################# REQUIRED ENV VARS END #################

# ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO SEND MAILS THROUGH MAILTRAP START #################
MAILTRAP_SMTP_HOST=__mailtrap_smtp_host__
MAILTRAP_SMTP_PORT=__mailtrap_smtp_port__
MAILTRAP_SMTP_USER=__mailtrap_smtp_user_id__
MAILTRAP_SMTP_PASS=__mailtrap_smtp_user_password__
# ################ ENV VARS TO SEND MAILS THROUGH MAILTRAP END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE PAYMENT THROUGH RAZORPAY START #################
RAZORPAY_KEY_ID=__razorpay_key_id__
RAZORPAY_KEY_SECRET=__razorpay_key_secret__
# ################ ENV VARS TO ENABLE PAYMENT THROUGH RAZORPAY END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE PAYMENT THROUGH PAYPAL START #################
PAYPAL_CLIENT_ID=__paypal_client_id__
PAYPAL_SECRET=__paypal_secret__
# ################ ENV VARS TO ENABLE PAYMENT THROUGH PAYPAL END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN START #################
GOOGLE_CLIENT_ID=__google_client_id__
GOOGLE_CLIENT_SECRET=__google_client_secret__
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/users/google/callback # Add this exact url in your Authorized redirect URIs in Google cloude console OAuth Client id form
# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO ENABLE GITHUB SSO LOGIN START #################
GITHUB_CLIENT_ID=__github_client_id__
GITHUB_CLIENT_SECRET=__github_client_secret__
GITHUB_CALLBACK_URL=http://localhost:8080/api/v1/users/github/callback # Add this exact url in your Authorization callback url in github OAuth app
# ################ ENV VARS TO ENABLE GITHUB SSO LOGIN END #################

# # ----------------------------------------------------------------------------------------------------------

# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
CLIENT_SSO_REDIRECT_URL=http://localhost:3000/user/profile # Frontend url where backend should redirect when user is successfully logged in through the Google/Github SSO
# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
