<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Response HTML Template</title>
  </head>
  <body>
    <h1>
      Anything that can be Written in JavaScript, will Eventually be Written in
      JavaScript
    </h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsum
      minima voluptatibus harum itaque, expedita corrupti enim similique
      repudiandae aspernatur, praesentium id, consequatur vitae ex quasi soluta
      totam voluptatum reiciendis!
    </p>
  </body>
</html>
